body{
    margin: 10px;
    margin-top: 150px;
    max-width: 100%;
    overflow-x: hidden;
}

.container{
    border-radius: 15px;
    background-color: rgb(10, 10,88);
    padding-bottom: 40px;
    min-width: 380px;
    max-width: 800px;
    margin: 0 auto;
    
}

.titles{
    display: flex;
    justify-content: space-around;
    color: white;
    font-family: Verdana,Tahoma,sans-serif;
    font-weight:700;
    font-size: 28px;
    

}
.box{
    display:flex;
    justify-content:space-around;
    height: 120px;
    column-gap: 25px;
    margin-bottom: 25px;
 
}

.box-1{
    height: 110px;
    width:180px;
    background-color: black;
      
}

#score-1{
    font-family: 'Cursed Timer ULiL', sans-serif;
    color:#F94F6D;
    font-weight: 400;
    font-size: 90px;
    text-align: center;
    margin-top: 0;
    padding: 10px;
}

.box-2{
    height: 110px;
    width:180px;
    background-color: black;
    
}

#score-2{
    font-family: 'Cursed Timer ULiL', sans-serif;
    color:#F94F6D;
    font-weight: 400;
    font-size: 90px;
    text-align: center;
    margin-top: 0;
    padding: 10px;
}

.buttons{
    display: flex;
    justify-content: space-around;                      
    
}

.left-buttons{
    display: flex;
    align-items: center;
}

#home-btn1{
    margin-left: -10px;
    margin-right: 20px;
    border-radius: 5px;
    color:#9AABD8;
    background-color: rgb(10,10,88);
    border-color: #9AABD8;
    padding: 8px;
}

#home-btn2{
    
    margin-right: 20px;
    border-radius: 5px;
    color:#9AABD8;
    background-color: rgb(10,10,88);
    border-color: #9AABD8;
    padding: 8px;
}

#home-btn3{
    
    border-radius: 5px;
    color:#9AABD8;
    background-color: rgb(10,10,88);
    border-color: #9AABD8;
    padding: 8px;
}
.right-buttons{
    display: flex;
    
}

#guest-btn1{
    
    margin-right: 20px;
    border-radius: 5px;
    color:#9AABD8;
    background-color: rgb(10,10,88);
    border-color: #9AABD8;
    padding: 8px;
}

#guest-btn2{
    
    margin-right: 20px;
    border-radius: 5px;
    color:#9AABD8;
    background-color: rgb(10,10,88);
    border-color: #9AABD8;
    padding: 8px;
}

#guest-btn3{
    margin-right: -10px;
    border-radius: 5px;
    color:#9AABD8;
    background-color: rgb(10,10,88);
    border-color: #9AABD8;
    padding: 8px;
}